body{
    margin: 0;
    padding: 0;
}

#header{
    height: 200px;
    background-color: #c1b211;
}

#header img{
    height: 50px;
    width: 50px;
}

#header #header1{
    width: 60%;
    float: left;
    height: 100px;
    text-indent: 0px;
}

#header #header1 p{
    margin: 50px;
    height: 100px;
    line-height: 80px;
    font-size: 50px;
}

#header #header2{
    width: 30%;
    float:right;
    text-align: center;
    padding: 70px;
    font-size: 20px;
}
