body{
    margin: 0;
    padding: 0;
}
#header{
    height: 70px;
    background-color: #fefbd8;
}
#header #header1{
    width: 30%;
    float: left;
    height: 70px;
    text-indent: 30px;
}
#header #header1 p{
    margin: 0;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
}