*{
    box-sizing: border-box;
}

body{
    background-color: gray;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header{
    border-bottom: 1px solid white;
    background-color: rgb(240, 219, 219);
    padding: 20px 40px;
}

.header h2{
    margin: 0;
    color: red;
}

.form{
    padding: 30px 30px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid rgb(192, 191, 191);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 15px;
    padding: 10px;
    width: 100%;
}

.form-control i{
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    background-color: black;
    border: 2px solid black;
    border-radius:  4px;
    color: white;
    display: block;
    font-family: inherit;
    font-size: 15px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}