body {
    margin-bottom: 20px;
	/* background-color: gray; */
}

#header {
    text-shadow: 2px 2px black;
    background-image: url(img/logodaklak.png);
    width: 800px;   
    height: 200px;
    text-align: center;
    font-size: 30px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-left: 10px;
}


#icon_menu {
    width: 100px;
    height: 400px;
    left: 5px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
    width: 193px;
    height: 30px;
    line-height: 30px;
    position: relative;
    border: 2px dotted black;
    border-color: yellow;
    text-align: center;
    background-color: #003300;
    bottom: 55px;
    color: yellow;
}


#menu ul li a {
    color: yellow;
}

#menu ul li:hover {
    background-color: white;
}

#menu ul li ul {
    display: none;
    position: absolute;
    top: 32px;
    left: 0px;

}